build
dist
sam/bin/*
sam/conf/*
sam/docs/*
sam/eclipse/*
sam/forge/*
sam/jars/*
sam/lib/*
sam/logs/*
sam/modsrc/*
sam/reobf/*
sam/runtime/*
sam/temp/*

sam/src/minecraft/*
!sam/src/minecraft/glassesofdoom
sam/src/minecraft_server/*
sam/src/common/*
!sam/src/common/glassesofdoom/
sam/src/common/mcmod.info
sam/src/common/SP.png
sam/CHANGELOG
sam/LICENSE.txt
*.bat
*.sh